.back, a {
    margin-top: 5px;
    background-color: #2888b9;
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border-radius: 5px;
}

body {
    background-image: url(m.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
